<div class="container">
  <div class="row col-12 col-lg-6 mt-3 mb-5">
    <%= simple_form_for(diagnosis) do |f| %>
      <div data-toggle-target="errors">
        <%= f.error_notification %>
      </div>
      <%= f.input :disease %>
      <h3>Medications</h3>
      <div class="tab-content">
        <div class="row" id="medications">
          <%= f.simple_fields_for(:medications) do |med| %>
            <%= render 'medication_fields', f: med %>
          <% end %>
          <div class="links">
            <%= link_to_add_association 'Add medication', f, :medications %>
          </div>
        </div>
      </div>
      <%= f.submit :create, class: 'btn btn-primary rounded-3', data: { turbo: true } %>
    <% end %>
  </div>
</div>
