<div class="container">
  <div class="row col-12 col-lg-6 mt-3 mb-5">
    <%= simple_form_for(@diagnosis) do |f| %>
      <div data-toggle-target="errors">
        <%= f.error_notification %>
      </div>
      <%= f.input :disease %>
      <h3>Medications</h3>
      <div class="row" id="medications">
        <%= f.simple_fields_for(:medications) do |medication| %>
          <%= render 'medication_fields', f: medication %>
          <%= lisk_to_add_association 'add medication', f, :medications %>
        <% end  %>
      </div>
      <%= f.submit :create, class: 'btn btn-primary rounded-3', data: { turbo: true } %>
    <% end %>
  </div>
</div>
