<div class="container mt-4">
  <div class="cards col-12 col-lg-6 border-0 rounded-5 p-2">
    <h1 class="text-center mt-1 mb-0 text-uppercase align-bottom fw-bolder">MY HEALTH SPACE</h1>
  </div>

  <div class="row">
    <div class="cards col-12 col-lg-6 border-0 rounded-5">
      <div class="card mb-0 border-2 rounded-5">
        <div class="row g-0">
          <div class="col-4 border-0">
            <% if current_user.photo.attached? %>
              <img src="<%= cl_image_tag photo.key, width: '100%' %>" class="img-fluid rounded-circle" alt="profile picture">
            <% else %>
              <%= image_tag "user_icon.jpg", class: "img-fluid rounded-circle", alt: "profile picture" %>
            <% end %>
          </div>
          <div class="col-8 border-0 ">
            <div class="card m-2 border-0">
              <h4 class="card-title fw-bolder text-uppercase"><%= current_user.first_name %> <%= current_user.last_name %></h4>
              <p><strong>CNS:</strong> <%= current_user.cns %></p>
              <p><strong>Address:</strong> <%= current_user.address %></p>
              <p><strong>Phone Number:</strong> <%= current_user.phone_number %></p>
              <p><strong>e-mail:</strong> <%= current_user.email %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="cards col-12 col-lg-6 border-0 rounded-5">
      <div class="card mb-0 border-2 rounded-5">
        <div class="row g-0">
          <div class="card border-0 rounded-5">
            <h4 class="card-header text-uppercase">MY DIAGNOSES</h4>
            <div class="card-body">
              <% @my_diagnoses.each do |diagnosis| %>
                <div class="card rounded-5 m-2">
                  <div class="card-header text-uppercase rounded-5"><strong><%= diagnosis.disease %></strong></div>
                  <div class="card-body">
                    <div class="row d-flex justify-content-end p-4">
                      <%= @my_medications.each do |medication| %>
                        <div class="col-6 col-lg-3 border-0-rounded-5">
                          <strong><%= medication.name %></strong>
                        </div>
                        <div class="col-6 col-lg-3 border-0-rounded-5">
                          <p><%= medication.daily_dosage %></p>
                        </div>
                      <% end %>
                    </div>
                    <div class="row d-flex justify-content-end p-4">
                    <div class="button-links">
                      <%= link_to "Edit", edit_diagnosis_path(diagnosis), class:"btn btn-primary rounded-3" %>
                      <%= link_to "Delete", diagnosis_path(diagnosis), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-primary rounded-3" %>
                    </div>
                  </div>
                  </div>
                </div>
              <% end %>
              <div class="row d-flex justify-content-end p-4">
                <div class="button-links">
                  <%= link_to "Add diagnosis", new_diagnosis_path, class:"btn btn-primary rounded-3" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="cards col-12 col-lg-6 border-0 rounded-5">
      <div class="card mb-0 border-2 rounded-5">
        <div class="row g-0">
          <div class="card border-0 rounded-5">
            <h4 class="card-header text-uppercase">MY APPOINTMENTS</h4>
            <div class="card-body">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="cards col-12 col-lg-6 border-0  rounded-5">
      <div class="card mb-0 border-2 rounded-5">
        <div class="row g-0">
          <div class="card border-0 rounded-5">
            <h4 class="card-header text-uppercase">HOW I'VE BEEN FEELING</h4>
            <div class="card-body">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
