<div class= "container" >

  <div class="banner" min-height= 100%; border-radius-xl; style="background-image: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)), url(https://cdn11.bigcommerce.com/s-2t5fkq8mli/images/stencil/960w/uploaded_images/family-double-piggyback-small.jpg?t=1659564456);">
    <div class="container">
     <h1><em>Your</em> health in <em>your</em> hands</h1>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-sm-8 my-3 mb-4">
      <%= form_with url: resources_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Type a keyword"
          %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <div class = "cards-resources">
    <% @resources.each do |resource| %>
      <%= link_to resource_path(resource), class: 'text-decoration-none' do %>
        <%#= adding cloudinary function to show castle images %>
        <%#=if user uploads the picture then it's going to show, else it's showing the DB picture %>
        <div class="card-category mb-3" >
          <h1><%= resource.name %></h1>
        </div>
      <% end %>
    <% end %>
  </div>



</div>
