<div class= "container" >


  <div class="banner" min-height= 100%; border-radius-xxl; style="background-image: linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.55)), url(https://res.cloudinary.com/dxmscduce/image/upload/v1725649741/market_faqec3.avif);">
    <div class="container">
     <h1><%= @resource.name %></h1>
    </div>
  </div>

  <h4><%= @match_data[1] %></h4>
  <h4><%= @match_data[2] %></h4>
  <h4><%= @match_data[3] %></h4>

  <div class="button">
    <%= link_to "Back to all", :back, class: "btn btn-primary" %>
  </div>

</div>
