<div class= "container" >


  <div class="banner" min-height= 100%; border-radius-xxl; style="background-image: linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.55)), url(https://res.cloudinary.com/dxmscduce/image/upload/v1725649741/favela_xa3oro.jpg);">
    <div class="container">
     <h1><%= @resource.name %></h1>
    </div>
  </div>

  <p><%= @match_data[1] %></p>
  <p><%= @match_data[2] %></p>
  <p><%= @match_data[3] %></p>

  <div class="button">
    <%= link_to "Back to all", :back, class: "btn btn-primary" %>
  </div>

</div>
