<div id="<%= dom_id appointment %>">
  <p>
    <strong>Name:</strong>
    <%= appointment.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= appointment.description %>
  </p>

  <p>
    <strong>Opening date:</strong>
    <%= appointment.opening_date %>
  </p>

  <p>
    <%= link_to "Show this appointment", appointment %>
  </p>

</div>
