<%= simple_form_for(appointment, html: { data: { action: 'submit->insert-in-appointments#send', insert_in_appointmnets_target: 'form' } } ) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :appointment_date, as: :string, input_html: { data: {controller: 'datepicker' } } %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
