
<div class="container display-flex mt-3">
  <h1>Places</h1>
    <% @places.each do |place| %>
      <div class="cards">
        <h3><%= place.name %></h3>
        <p>Address: <%= place.address %></p>
        <p>Opening hours: <%= place.opening_hours %></p>
        <p>Email: <%= place.email %></p>
        <p>Phone: <%= place.phone_number %></p>
        <p>Services: <%= place.services %></p>
      </div>
      <% end %>
</div>
