

<div class="container body-places display-flex mt-3">
  <div data-controller="map"
      id='map'
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
      data-map-markers-value="<%= @markers.to_json %>"
      style='width: 100%; height: 250px;'>
  </div>
  <h1 class="mt-4">Places</h1>

  <div class="row justify-content-center">
    <div class="col-sm-8 my-3">
      <%= form_with url: places_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Search for a place"
          %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>


    <% @places.each do |place| %>
      <div class="row">
        <div class="col-12">
          <div class="cards-places">
            <h4><%= place.name %></h3>
            <div data-controller="read-more" data-read-more-more-text-value="Read more" data-read-more-less-text-value="Read less">
              <div class="my-content" data-read-more-target="content">
                <p><i class="fa-solid fa-location-dot"></i> <%= place.address %></p>
                <p><i class="fa-solid fa-clock"></i> <%= place.opening_hours %></p>
                <p><i class="fa-solid fa-envelope"></i> <%= place.email %></p>
                <p><i class="fa-solid fa-phone"></i>  <%= place.phone_number %></p>
                <p><i class="fa-solid fa-building"></i> <%= place.services %></p>
              </div>
              <button class="btn btn-outline-primary btn-sm mt-2" data-action="read-more#toggle">Read more</button>
            </div>
          </div>
          <% end %>
        </div>
      </div>
</div>
